<script>
	jQuery(document).ready(function($) {
		"use strict";
		var AUTH_PAGE_CONTAINER  = $("div#auth-page-main-container");
		var AUTH_PAGE_LOCATION_VERYFICATIONS_FORM = AUTH_PAGE_CONTAINER.find("form#user-location-veryfications-form");
		var AUTH_PAGE_ITEMS_FLW  = AUTH_PAGE_CONTAINER.find("div#prods-items-container");
		var GRID_BLOCK_WIDTH     = (AUTH_PAGE_ITEMS_FLW.width() / 5);

        var SELLING_OPTIONS = AUTH_PAGE_CONTAINER.find("form#product-selling-form");
        var SELLING_LOGISTICS_SAVE = AUTH_PAGE_CONTAINER.find("form#logistincs-selling-form");

        var LOCATIONS_SIGNUP = AUTH_PAGE_CONTAINER.find("form#user-sighnup-veryfications-form");


		if (AUTH_PAGE_ITEMS_FLW.width() >= 768 && AUTH_PAGE_ITEMS_FLW.width() <= 1024) {
			GRID_BLOCK_WIDTH = (AUTH_PAGE_ITEMS_FLW.width() / 4);
		}

		else if(AUTH_PAGE_ITEMS_FLW.width() >= 481 && AUTH_PAGE_ITEMS_FLW.width() <= 820) {
			GRID_BLOCK_WIDTH = (AUTH_PAGE_ITEMS_FLW.width() / 3);
		}

		else if(AUTH_PAGE_ITEMS_FLW.width() >= 320 && AUTH_PAGE_ITEMS_FLW.width() <= 480) {
			GRID_BLOCK_WIDTH = (AUTH_PAGE_ITEMS_FLW.width() / 2);
		}

		else if(AUTH_PAGE_ITEMS_FLW.width() <= 320) {
			GRID_BLOCK_WIDTH = AUTH_PAGE_ITEMS_FLW.width();
		}

		var AUTH_PAGE_GRID_CTRL = {
			infinity_scroll:function (object = null) {
				if (hs_empty(object)) {
					return false;
				}
				else {
					var scrolled = 20;
					var inter    = setInterval(function(){
						if (object.scrollTop() + object.innerHeight() >= object.get(0).scrollHeight) {
							if (AUTH_PAGE_GRID_CTRL.getoffset()) {
								$.ajax({
									url: '{{CONFIG url}}/req/auth/get_prods',
									type: 'GET',
									dataType: 'json',
									data: {offset: AUTH_PAGE_GRID_CTRL.getoffset()},
								}).done(function(data) {
									if (data.status == 200) {
										AUTH_PAGE_ITEMS_FLW.gridalicious('append',$(data.html));
										scrolled += 20;
						    			object.animate({ scrollTop: scrolled }, (1000));
									}

									else {
										clearInterval(inter);
									}
								}).fail(function(){
									clearInterval(inter);
								});
							}
							else {
								clearInterval(inter);
							}
						}
						else{
							scrolled += 20;
						    object.animate({ scrollTop: scrolled }, (1000));	
						    if (scrolled > (1000 * 1000)) { scrolled = 20;}
						}
					    
					},1100);
				}
			},
			getoffset: function() {
				var items_list = [];
				AUTH_PAGE_ITEMS_FLW.find('div.prod-item').each(function(index, el) {
					items_list.push(Number($(el).attr('data-product-li')));
				});

				var last_item = Math.min.apply(Math, items_list);

				if (last_item && $.isNumeric(last_item)) {
					return last_item;
				}
				else {
					return 0;
				}
			},
			ga_conf: {
				selector: 'div.prod-item',
				gutter: 0,
				width: (GRID_BLOCK_WIDTH),
				animate: true,
				animationOptions: { 
					speed: 100, 
					duration: 200
				}
			}
		}; AUTH_PAGE_ITEMS_FLW.gridalicious(AUTH_PAGE_GRID_CTRL.ga_conf);


        SELLING_LOGISTICS_SAVE.ajaxForm({
            url: '{{CONFIG url}}/req/auth/sell_online_logistics_save',
            type: 'POST',
            dataType: 'json',
            beforeSend:function(){
                SELLING_LOGISTICS_SAVE.find('button[type="submit"]').attr('disabled', 'true');
                SELLING_LOGISTICS_SAVE.find('div[data-form-field]').each(function(index, el) {
                    $(this).find('input').removeClass('animated');
                    $(this).find('input').removeClass('flash');
                    $(this).find('input').removeClass('v-error');
                    $(this).find('small.error-message').remove();
                });
            },
            success:function(data) {
                console.log(data);

                if (data.status == 200) {
                    SELLING_LOGISTICS_SAVE.find('button[type="submit"]').addClass('success');
                    SELLING_LOGISTICS_SAVE.find('button[type="submit"]').text("Welcome back");

                    delay(function(){
                        hs_redirect('{{CONFIG url}}');
                    },1500);
                }
                else {
                    if (data.message) {
                        SELLING_LOGISTICS_SAVE.find('button[type="submit"]').removeAttr('disabled');
                        SELLING_LOGISTICS_SAVE.find('div[data-form-field="{0}"]'.format(data.err_field)).find('select').addClass('v-error');
                        SELLING_LOGISTICS_SAVE.find('div[data-form-field="{0}"]'.format(data.err_field)).append($('<small>',{
                            class: 'animated flash error-message',
                            text: data.message
                        }));
                    }
                }
            }
        });

        SELLING_OPTIONS.ajaxForm({
            url: '{{CONFIG url}}/req/auth/sell_online',
            type: 'POST',
            dataType: 'json',
            beforeSend:function(){
                SELLING_OPTIONS.find('button[type="submit"]').attr('disabled', 'true');
                SELLING_OPTIONS.find('div[data-form-field]').each(function(index, el) {
                    $(this).find('input').removeClass('animated');
                    $(this).find('input').removeClass('flash');
                    $(this).find('input').removeClass('v-error');
                    $(this).find('small.error-message').remove();
                });
            },
            success:function(data) {
                if (data.status == 200) {
                    SELLING_OPTIONS.find('button[type="submit"]').addClass('success');
                    SELLING_OPTIONS.find('button[type="submit"]').text("Welcome back");

                    delay(function(){
                        hs_redirect('{{CONFIG url}}'+data.redirect_url);
                    },1500);
                }
                else {
                    if (data.message) {
                        SELLING_OPTIONS.find('button[type="submit"]').removeAttr('disabled');
                        SELLING_OPTIONS.find('div[data-form-field="{0}"]'.format(data.err_field)).find('select').addClass('v-error');
                        SELLING_OPTIONS.find('div[data-form-field="{0}"]'.format(data.err_field)).append($('<small>',{
                            class: 'animated flash error-message',
                            text: data.message
                        }));
                    }
                }
            }
        });


        AUTH_PAGE_LOCATION_VERYFICATIONS_FORM.ajaxForm({
            url: '{{CONFIG url}}/req/auth/location',
            type: 'POST',
            dataType: 'json',
            beforeSend:function(){
                AUTH_PAGE_LOCATION_VERYFICATIONS_FORM.find('button[type="submit"]').attr('disabled', 'true');
                AUTH_PAGE_LOCATION_VERYFICATIONS_FORM.find('div[data-form-field]').each(function(index, el) {
                    $(this).find('input').removeClass('animated');
                    $(this).find('input').removeClass('flash');
                    $(this).find('input').removeClass('v-error');
                    $(this).find('small.error-message').remove();
                });
            },
            success:function(data) {
                if (data.status == 200) {
                    AUTH_PAGE_LOCATION_VERYFICATIONS_FORM.find('button[type="submit"]').addClass('success');
                    AUTH_PAGE_LOCATION_VERYFICATIONS_FORM.find('button[type="submit"]').text("Welcome back");

                    delay(function(){
                        hs_redirect('{{CONFIG url}}');
                    },1500);
                }
                else {
                    if (data.message) {
                        AUTH_PAGE_LOCATION_VERYFICATIONS_FORM.find('button[type="submit"]').removeAttr('disabled');
                        AUTH_PAGE_LOCATION_VERYFICATIONS_FORM.find('div[data-form-field="{0}"]'.format(data.err_field)).find('select').addClass('v-error');
                        AUTH_PAGE_LOCATION_VERYFICATIONS_FORM.find('div[data-form-field="{0}"]'.format(data.err_field)).append($('<small>',{
                            class: 'animated flash error-message',
                            text: data.message
                        }));
                    }
                }
            }
        });


        LOCATIONS_SIGNUP.ajaxForm({
			url: '{{CONFIG url}}/req/auth/location_sign_up',
			type: 'POST',
			dataType: 'json',
			beforeSend:function(){
                LOCATIONS_SIGNUP.find('button[type="submit"]').attr('disabled', 'true');
                LOCATIONS_SIGNUP.find('div[data-form-field]').each(function(index, el) {
					$(this).find('input').removeClass('animated');
					$(this).find('input').removeClass('flash');
					$(this).find('input').removeClass('v-error');
					$(this).find('small.error-message').remove();
				});
			},
			success:function(data) {
				if (data.status == 200) {
                    LOCATIONS_SIGNUP.find('button[type="submit"]').addClass('success');
                    LOCATIONS_SIGNUP.find('button[type="submit"]').text("Welcome back");

					delay(function(){
						hs_redirect('{{CONFIG url}}');
					},1500);
				}
				else {
					if (data.message) {
                        LOCATIONS_SIGNUP.find('button[type="submit"]').removeAttr('disabled');
                        LOCATIONS_SIGNUP.find('div[data-form-field="{0}"]'.format(data.err_field)).find('select').addClass('v-error');
                        LOCATIONS_SIGNUP.find('div[data-form-field="{0}"]'.format(data.err_field)).append($('<small>',{
							class: 'animated flash error-message',
							text: data.message
						}));
					}
				}
			}
		});

		AUTH_PAGE_GRID_CTRL.infinity_scroll(AUTH_PAGE_ITEMS_FLW);

		AUTH_PAGE_CONTAINER.find('div#featured-items-cr').on('slid.bs.carousel', function (e) {
			var this_el  = AUTH_PAGE_CONTAINER.find('div#featured-items-cr').find('div.carousel-item.active');
			var price_lb = AUTH_PAGE_CONTAINER.find("div#featured-items-price");
			price_lb.find('span#sp').text(this_el.data('sp'));
			price_lb.find('span#rp').text(this_el.data('rp'));
		});
	});
</script>