<style>
    [type="radio"]:not(:checked), [type="radio"]:checked{
        left: 0!important;
        opacity: unset;
        position: inherit;
    }
</style>
<div class="user-auth-modal-container" id="user-login-modal">
    <div class="user-auth-modal-wrapper">
        <div class="user-auth-modal animated fadeIn login">
            <div class="user-auth-modal-inner-sell-online">
                    <div class="modal-dialog modal-lg" style="width: 540px;">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header" style="padding: 7px">
                                <h4 class="modal-title" style="font-size: 20px;">Add delivery options</h4>
                            </div>
                            <!-- Modal body -->
                            <div class="modal-body selling-modal-body-content">
                                <form class="" id="logistincs-selling-form" method="post">
                                    <input type="hidden" class="hidden d-none" name="hash" value="<?php echo fetch_or_get($hs['csrf_token'],'none') ?>">
                                <div class="form-group form-field-box">
                                    <div class="row clearfix">
                                        <div class="col-sm-6 p-r-10" data-form-field="9">
                                            <label class="form-label">
                                                {{TR Vehicle Type}}:
                                            </label>
                                            <div class="filed-box" data-form-field="vehicle_type">
                                                <input name="vehicle_type" type="text" class="form-control" placeholder="{{TR Enter a vehicle type}}">
                                            </div>
                                        </div>
                                        <div class="col-sm-6 p-l-10" >
                                            <label class="form-label">
                                                {{TR Maximum Load}}:
                                            </label>
                                            <div class="filed-box" data-form-field="maximum_load">
                                                <input name="maximum_load" type="text" class="form-control" placeholder="{{TR E.g. 5kg, 11lb, 176oz, 50g}}">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group form-field-box">
                                    <div class="row clearfix">
                                        <div class="col-sm-6 p-r-10" data-form-field="9">
                                            <label class="form-label">
                                                {{TR Delivary Cost}}:
                                            </label>
                                            <div class="filed-box" data-form-field="sale_price">
                                                <input name="delivary_cost" type="text" class="form-control" placeholder="{{TR Only numeric value is allowed. E.g. 149.99 - $}}">
                                            </div>
                                        </div>
                                        <div class="col-sm-6 p-l-10" data-form-field="25">
                                            <label class="form-label">
                                                {{TR Locations}}:  {{TR Country-(City)}}
                                            </label>
                                            <div class="filed-box">
                                                <select data-size="5" data-live-search="true" name="locations_id" class="form-control" readonly="" style="pointer-events: none">
                                                    <?php foreach ($hs['all_locations'] as $id => $locations): ?>
                                                        <option value="<?php echo($locations['id']); ?>" <?php if($_SESSION['locations_id']==$locations['id']){echo "selected";} ?>>
                                                            <?php echo  substr(hs_translate($locations['country_name'].'-('.$locations['city_name'].')'), 0, 30); ?>
                                                        </option>
                                                    <?php endforeach; ?>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                    <div class="form-group form-field-box">
                                        <div class="row clearfix">
                                            <div class="col-sm-12 p-r-10" data-form-field="9">
                                                <label class="form-label">
                                                    {{TR Contact Number}}:
                                                </label>
                                                <div class="filed-box" data-form-field="contact_number">
                                                    <input name="contact_number" type="number" class="form-control" placeholder="{{TR Contact Number}}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                <div class="form-group form-field-box">
                                    <div class="row clearfix">
                                        <div class="col-sm-12 no-mb" data-form-field="6">
                                            <div class="filed-box" data-form-field="description" style="color: #3498DB">
                                                NB:To have more customers add as many locations that<br>
                                                you can deliverd.
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                    <div class="form-group form-field-box">
                                        <div class="row clearfix">
                                            <div class="col-sm-6 p-r-10" data-form-field="9">
                                                <a class="nav-link selling-cancel-link" href='{{LINK }}'>
                                                    <span>{{TR Cancel}}</span>
                                                </a>
                                            </div>
                                            <div class="col-sm-6 p-l-10" data-form-field="25">
                                                <div class="filed-box bn-selling-options">
                                                    <button class="btn fluid btn-submit-form" type="submit">
                                                        {{TR Upload}}
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="market-copyright">
				<span>
					{{CONFIG name}} &copy; <?php echo date('Y'); ?>
				</span>
                <span id="contact-us-icon" data-anchor="{{LINK auth/signup}}">
                    <a href="#">{{TR Contact Us}}</a>
                </span>
            </div>
        </div>
    </div>
    <?php echo hs_loadpage('auth/includes/popular_items_flow'); ?>
</div>
<?php echo(hs_loadpage('auth/static/js/location_veryfications')); ?>