
<style>
    .select2-container.select2-container--default.select2-container--open  {
        z-index: 5000;
    }
    span.select2-selection.select2-selection--single {
        height: 38px;
        padding-top: 5px;
        border-radius: 20px;
        outline: 0;
    }
    span.select2-selection__arrow {
        top: 35px;
        margin-top: 4px;
        margin-right: 14px;
        /* padding-right: 13px; */
    }
    span.select2-selection__clear {
        display: none;
    }
</style>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
<div class="user-auth-modal-container" id="user-login-modal">
    <div class="user-auth-modal-wrapper">
        <div class="user-auth-modal animated fadeIn login">
            <div class="user-auth-modal-inner">
                <div class="left-part">
                    <div class="prod-price" id="featured-items-price">
                        <div class="prod-info">
                            <span id="rp" class="old-price"><?php echo($hs['fi_rprice']); ?></span>
                            <span id="sp" class="price"><?php echo($hs['fi_sprice']); ?></span>
                        </div>
                        <div class="corner"></div>
                    </div>
                    <div class="carousel slide" data-ride="carousel" id="featured-items-cr">
                        <div class="carousel-inner">
                            <?php if (not_empty($hs['prods'])): ?>
                                <?php foreach ($hs['prods'] as $ind => $hs['prod_item']): ?>
                                    <div data-sp="<?php echo($hs['prod_item']['fs_price']); ?>" data-rp="<?php echo($hs['prod_item']['fr_price']); ?>" class="carousel-item <?php echo ($ind == 0) ? 'active' : ''; ?>">
                                        <div class="carousel-item-data">
                                            <img class="d-block w-100" src="<?php echo($hs['prod_item']['poster']); ?>" alt="Poster">
                                        </div>
                                    </div>
                                <?php endforeach; ?>
                            <?php endif; ?>

                            <?php if (not_empty($hs['ghosts'])): ?>
                                <?php foreach ($hs['ghosts'] as $ind => $ghost): ?>
                                    <div data-sp="<?php echo hs_money('0.00'); ?>" data-rp="<?php echo hs_money('0.00'); ?>" class="carousel-item <?php echo ($ind == 0 && empty($hs['prods'])) ? 'active' : ''; ?>">
                                        <div class="carousel-item-data">
                                            <img src="https://via.placeholder.com/700x700.png" alt="Placeholder">
                                        </div>
                                    </div>
                                <?php endforeach; ?>
                            <?php endif; ?>
                        </div>
                    </div>
                </div>
                <div class="right-part">
                    <div class="auth-form-container">
                        <div class="header">
                           <h2>
<!--                            <img src="--><?php //echo hs_get_media($hs['config']['site_logo']); ?><!--" alt="Logo">-->
                            <img src="http://18.132.132.95/upload/images/logo.png" width="24%" alt="Logo">
                               </h2>
                            <h2 id="under-logo-modal-options">
                                {{CONFIG name}}
                            </h2>
                            <h2>
                                Fresh Produce Delivered next day
                            </h2>
                        </div>
                        <div class="body" style="margin-top: 16px;">
                            <div class="auth-form-body">
                                <form class="form" id="user-location-veryfications-form">
                                    <input type="hidden" class="hidden d-none" name="hash" value="<?php echo fetch_or_get($hs['csrf_token'],'none') ?>">
                                    <div class="form-group city_id" data-form-field="city_id">
                                        <select data-size="5" id="myselection" data-live-search="true" name="city_id" class="form-control">
                                            <option value="">Enter Your City Or Town</option>
                                            <?php foreach ($hs['all_locations'] as $id => $locations): ?>
                                                <option value="<?php echo($locations['id']); ?>">
                                                    <?php echo  substr(hs_translate($locations['city_name']), 0, 30); ?>
                                                </option>
                                            <?php endforeach; ?>
                                        </select>
                                    </div>

                                    <script type="text/javascript">
                                        $(document).ready(function() {
                                            // $('#myselection').select2();
                                            $('#myselection').select2({
                                                allowClear: true,
                                                language: {
                                                    noResults: function () {
                                                    setTimeout(
                                                        function()
                                                        {
                                                            window.location = '{{CONFIG url}}/auth/location_signup';
                                                        }, 2000);
                                                    }
                                                }
                                            });


                                        });
                                    </script>


                                    <div class="form-group surburb" data-form-field="surburb">
                                        <select data-size="5" id="myselection1" data-live-search="true" name="surburb" class="form-control">
                                            <option value="">Enter Your Surburb Or TownShip</option>
                                            <?php foreach ($hs['all_locations'] as $id => $locations): ?>
                                                <option value="<?php echo($locations['id']); ?>">
                                                    <?php echo  substr(hs_translate($locations['surburb']), 0, 30); ?>
                                                </option>
                                            <?php endforeach; ?>
                                        </select>
                                    </div>

                                    <script type="text/javascript">
                                        $(document).ready(function() {
                                            // $('#myselection').select2();
                                            $('#myselection1').select2({
                                                allowClear: true,
                                                language: {
                                                    noResults: function () {
                                                        setTimeout(
                                                            function()
                                                            {
                                                                window.location = '{{CONFIG url}}/auth/location_signup';
                                                            }, 2000);
                                                    }
                                                }
                                            });
                                        });
                                    </script>


                                    <div class="form-group">
                                        <button class="btn fluid btn-submit-form" type="submit">
                                            {{TR Explore Firm}}
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="market-copyright">
				<span>
					{{CONFIG name}} &copy; <?php echo date('Y'); ?>
				</span>
                <span id="contact-us-icon" data-anchor="{{LINK auth/signup}}">
                    <a href="#">{{TR Contact Us}}</a>
                </span>
            </div>
        </div>
    </div>

    <?php echo hs_loadpage('auth/includes/popular_items_flow'); ?>
</div>
<?php echo(hs_loadpage('auth/static/js/location_veryfications')); ?>