<div class="user-auth-modal-container" id="user-login-modal">
    <div class="user-auth-modal-wrapper">
        <div class="user-auth-modal animated fadeIn login">
            <div class="user-auth-modal-inner">
                <div class="right-part">
                    <div class="auth-form-container">
                        <div class="header">
                            <h2>
                                <!--                            <img src="--><?php //echo hs_get_media($hs['config']['site_logo']); ?><!--" alt="Logo">-->
                                <img src="{{CONFIG url}}/upload/images/main_logo.png" width="70%" alt="Logo">
                            </h2>
                            <div style="text-align: center;margin-top: 10px;">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSXn6hbmc3aivTcy5dbBL3A5cWJq9dQaxpR5atKs8FBLzjjYXPp&usqp=CAU" width="24%" alt="Logo">
                            </div>
                                <h2 style="color: gray;">
                                Delivery Service
                            </h2>
                            <p style="text-align: center;color: gray;">not yet available</p>
                        </div>
                        <div class="body" style="margin-top: 16px;">
                            <div class="auth-form-body">
                                <form class="form" id="user-sighnup-veryfications-form">
                                    <input type="hidden" class="hidden d-none" name="hash" value="<?php echo fetch_or_get($hs['csrf_token'],'none') ?>">
                                    <div class="form-group city_id" data-form-field="email">
                                        <input name="email" type="text" class="form-control" placeholder="{{TR Enter your cell number or phone}}" title="{{TR Enter your cell number or phone}}">
                                    </div>
                                    <div class="form-group">
                                        <button class="btn fluid btn-submit-form" type="submit">
                                            {{TR Notify,Me}}
                                        </button>
                                        <div class="form-group">
                                            <div class="forgot-pass">
                                                <span data-anchor="{{LINK auth/location_verifications}}">{{TR Change Locaitons}}</span>
                                                <span data-anchor="{{LINK auth/continue}}">{{TR Continue browsing}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="market-copyright">
				<span>
					{{CONFIG name}} &copy; <?php echo date('Y'); ?>
				</span>
                <span id="contact-us-icon" data-anchor="{{LINK auth/signup}}">
                    <a href="#">{{TR Contact Us}}</a>
                </span>
            </div>
        </div>
    </div>
    <?php echo hs_loadpage('auth/includes/popular_items_flow'); ?>
</div>
<?php echo(hs_loadpage('auth/static/js/location_veryfications')); ?>