<style>
    [type="radio"]:not(:checked), [type="radio"]:checked{
        left: 0!important;
        opacity: unset;
        position: inherit;
    }
</style>
<div class="user-auth-modal-container" id="user-login-modal">
    <div class="user-auth-modal-wrapper">
        <div class="user-auth-modal animated fadeIn login">
            <div class="user-auth-modal-inner-sell-online">
                    <div class="modal-dialog modal-lg" style="width: 540px;">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header" style="padding: 7px">
                                <h4 class="modal-title" style="font-size: 20px;">New Product Upload</h4>
                            </div>
                            <!-- Modal body -->
                            <div class="modal-body selling-modal-body-content">
                                <form class="" id="product-selling-form" method="post">
                                    <input type="hidden" class="hidden d-none" name="hash" value="<?php echo fetch_or_get($hs['csrf_token'],'none') ?>">
                                <div class="form-group form-field-box">
                                    <div class="row clearfix">
                                        <div class="col-sm-6 p-r-10" data-form-field="9">
                                            <label class="form-label">
                                                {{TR Product Title}}
                                            </label>
                                            <div class="filed-box" data-form-field="name">
                                                <input name="name" type="text" class="form-control" placeholder="{{TR E.g. Tomatoed etc}}..">
                                            </div>
                                        </div>
                                        <div class="col-sm-3 p-l-10" >
                                            <label class="form-label">
                                                {{TR Quantity}}
                                            </label>
                                            <div class="filed-box" data-form-field="quantity">
                                                <input name="quantity" type="number" class="form-control" placeholder="Max 1200">
                                            </div>
                                        </div>
                                        <div class="col-sm-3 p-l-10" data-form-field="25">
                                            <label class="form-label">
                                                {{TR Weight}}
                                            </label>
                                            <div class="filed-box" data-form-field="weight">
                                                <input name="weight" type="text" class="form-control" placeholder="{{TR E.g. 5kg}}">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group form-field-box">
                                    <div class="row clearfix">
                                        <div class="col-sm-6 p-r-10" data-form-field="9">
                                            <label class="form-label">
                                                {{TR Bulk Selling price}}
                                            </label>
                                            <div class="filed-box" data-form-field="sale_price">
                                                <input name="sale_price" type="number" step="any" class="form-control" placeholder="{{TR Only numeric value is allowed. E.g. 149.99}} - {{CONFIG currency}}">
                                            </div>
                                        </div>
                                        <div class="col-sm-6 p-l-10" data-form-field="25">
                                            <label class="form-label">
                                                {{TR Payment method}}
                                            </label>
                                            <div class="filed-box">
                                                <select name="payment_method" class="form-control" title="{{TR Select payment method}}">
                                                    <option value="all_payments" selected>{{TR All methods}}</option>
                                                    <option value="cod_payments">{{TR Cash on delivery}}</option>
                                                    <option value="pre_payments" selected="true">{{TR Prepayment}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group form-field-box">
                                    <div class="row clearfix">
                                        <div class="col-sm-12 no-mb" data-form-field="6">
                                            <div class="filed-box" data-form-field="description">
                                                <textarea name="description" rows="2" class="form-control" id="product-description" placeholder="{{TR Enter product description}}..."></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group form-field-box">
                                    <div class="row clearfix">
                                        <div class="col-sm-6 p-r-10" data-form-field="9">
                                            <div class="filed-box">
                                                <input name="contact_number" type="number" class="form-control" placeholder="Contact Number">
                                            </div>
                                        </div>
                                        <div class="col-sm-6 p-l-10" data-form-field="25">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group form-field-box">
                                    <div class="row clearfix">
                                        <div class="col-sm-6 p-r-10" data-form-field="9">
                                            <label class="form-label">
                                                {{TR Can You Delivared ? }}
                                            </label>
                                        </div>
                                        <div class="col-sm-6 p-l-10" data-form-field="25">
                                            <div class="filed-box delivary-options-selling">
                                                <label class="radio-inline">
                                                    Yes <input type="radio" name="optradio" value="1">
                                                </label>
                                                <label class="radio-inline">
                                                    No <input type="radio" name="optradio" value="0">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    <div class="form-group form-field-box">
                                        <div class="row clearfix">
                                            <div class="col-sm-6 p-r-10" data-form-field="9">
                                                <a class="nav-link selling-cancel-link" href='{{LINK }}'>
                                                    <span>{{TR Cancel}}</span>
                                                </a>
                                            </div>
                                            <div class="col-sm-6 p-l-10" data-form-field="25">
                                                <div class="filed-box bn-selling-options">
                                                    <button class="btn fluid btn-submit-form" type="submit">
                                                        {{TR Proceed}}
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="market-copyright">
				<span>
					{{CONFIG name}} &copy; <?php echo date('Y'); ?>
				</span>
                <span id="contact-us-icon" data-anchor="{{LINK auth/signup}}">
                    <a href="#">{{TR Contact Us}}</a>
                </span>
            </div>
        </div>
    </div>
    <?php echo hs_loadpage('auth/includes/popular_items_flow'); ?>
</div>
<?php echo(hs_loadpage('auth/static/js/location_veryfications')); ?>