<header class="navbar main-sp-header" id="main-header-container">
    <div class="navbar-flex-inner-top-line">
        <div class="navbar-flex-inner">
            <div class="navbar-header">
                <div class="navbar-header-inner">
                    <a href="javascript:void(0);" class="bars" onclick="$('body').toggleClass('overlay-open');"></a>
                    <a class="navbar-brand" href="{{CONFIG url}}">
<!--                        <img src="--><?php //echo hs_get_media($hs['config']['site_logo']); ?><!--" alt="Logo">-->
                        <img src="<?php echo '{{CONFIG url}}/upload/images/main_logo.png'; ?>" alt="Logo">
                    </a>
                </div>
            </div>
            <div class="navbar-body">
                <div class="navbar-body-inner">
                    <div class="flex-ci left">
                        <div class="search-form-wrapper">
                            <form action="#" class="form search-form" id="search-form">
                                <input type="hidden" class="hidden d-none" name="hash" value="<?php echo fetch_or_get($hs['csrf_token'],'none') ?>">
                                <div class="search-input">
                                    <input type="text" class="form-control" id="search-keyword" placeholder="{{TR Search products}}">
                                    <button>
                                        <?php echo hs_svg('search'); ?>
                                    </button>
                                </div>
                                <div class="dropdown" id="search-result">
                                    <div class="dropdown-menu" id="result"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="flex-ci right">
                        <ul class="right-side">
                            <li class="nav-item user-wishlist">
                                <a class="nav-link" href="{{LINK wishlist}}">
                                    <span class="new-messages"></span>
                                    <?php echo hs_svg('heart-inline'); ?>
                                </a>
                            </li>   
                            <li class="nav-item user-messages" id="rt-messages">
                                <a class="nav-link" href="{{LINK messages}}">
                                    <span class="new-messages"></span>
                                    <?php echo hs_svg('message'); ?>
                                </a>
                            </li>
                            <li class="nav-item user-notifications-dd" id="rt-notifications">
                                <a class="nav-link dropdown-toggle"  id="load-notifications" data-toggle="dropdown">
                                    <span class="new-messages"></span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 512 512"><path d="M257 120.471c7.083 0 23.911 4.479 23.911 4.479 45.589 10.447 77.678 52.439 77.678 99.85V352.412l9.321 9.364 7.788 7.823H136.302l7.788-7.823 9.321-9.364V224.8c0-47.41 32.089-89.403 77.678-99.85 0 0 18.043-4.479 23.911-4.479M256 48c-17.602 0-31.059 13.518-31.059 31.2v14.559c-59.015 13.523-103.53 67.601-103.53 131.041v114.4L80 380.8v20.8h352v-20.8l-41.411-41.6V224.8c0-63.44-44.516-117.518-103.53-131.041V79.2c0-17.682-13.457-31.2-31.059-31.2zm41.411 374.4h-82.823c0 22.881 18.633 41.6 41.412 41.6s41.411-18.719 41.411-41.6z"/></svg>
                                </a>
                                <div class="dropdown-menu anim scale-up-tr">
                                    <div class="header">
                                        <span class="text-left">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 512 512"><path d="M257 120.471c7.083 0 23.911 4.479 23.911 4.479 45.589 10.447 77.678 52.439 77.678 99.85V352.412l9.321 9.364 7.788 7.823H136.302l7.788-7.823 9.321-9.364V224.8c0-47.41 32.089-89.403 77.678-99.85 0 0 18.043-4.479 23.911-4.479M256 48c-17.602 0-31.059 13.518-31.059 31.2v14.559c-59.015 13.523-103.53 67.601-103.53 131.041v114.4L80 380.8v20.8h352v-20.8l-41.411-41.6V224.8c0-63.44-44.516-117.518-103.53-131.041V79.2c0-17.682-13.457-31.2-31.059-31.2zm41.411 374.4h-82.823c0 22.881 18.633 41.6 41.412 41.6s41.411-18.719 41.411-41.6z"/></svg>
                                        </span>
                                        <span class="notifs">
                                            {{TR Notifications}}
                                        </span>
                                    </div>
                                    <div class="body">
                                        <div class="notifs-preloader hidden" id="notif-preloader">
                                            <div class="loader">
                                                <?php echo hs_svg('loading'); ?>
                                            </div>
                                        </div>
                                        <ul class="notifs-list" id="notifications-list"></ul>
                                    </div>
                                    <div class="footer hidden" id="view-all-notifications">
                                        <p>
                                            <a href="{{LINK notifications}}">{{TR Show all}}</a>
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item profile-nav-dd">
                                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                                    <img src="{{ME avatar}}" alt="User avatar" data-user-avatar-image="{{ME id}}">
                                    <span class="user-name">
                                        {{ME name}}
                                    </span>
                                </a>
                                <div class="dropdown-menu scale-up-tr">          
                                    <a class="dropdown-item" href="{{CONFIG url}}">
                                        <span>{{TR Home Page}}</span>
                                    </a>
                                    <a class="dropdown-item" href="{{ME url}}">
                                        <span>{{TR Profile}}</span>
                                    </a> 
                                    <a class="dropdown-item" href="{{LINK merchant_panel/my_products}}">
                                        <span>{{TR My products}}</span>
                                    </a>  
                                    <a class="dropdown-item" href="{{LINK merchant_panel/my_orders}}">
                                        <span>{{TR My Orders}}</span>
                                    </a>
                                    <a class="dropdown-item" href="{{LINK merchant_panel/my_orders}}">
                                        <span>{{TR Customer Orders}}</span>
                                    </a>
                                    <hr>
                                    <a class="dropdown-item" href="{{LINK merchant_panel/withdrawals}}">
                                        <span>{{TR Wallet}}</span>
                                    </a>
                                    <a class="dropdown-item" href="{{LINK merchant_panel/withdrawals}}">
                                        <span>{{TR Payouts}}</span>
                                    </a>
                                    <a class="dropdown-item" href="{{LINK merchant_panel/main_settings}}">
                                        <span>{{TR Account settings}}</span>
                                    </a>
                                    <a class="dropdown-item" href="{{LINK help}}">
                                        <span>{{TR Help}}</span>
                                    </a>
                                    <hr>
                                    <?php if ($hs['me']['is_root']): ?>
                                        <?php if (empty($me['is_admin'])): ?>
                                            <a class="dropdown-item" href="{{LINK login_as/admin}}">
                                                <span>
                                                    {{TR Admin mode}}
                                                </span>
                                            </a>
                                            <hr>
                                        <?php else: ?>
                                            <a class="dropdown-item" href="{{LINK login_as/user}}">
                                                <span>
                                                    {{TR User mode}}
                                                </span>
                                            </a>
                                            <hr>
                                        <?php endif; ?>
                                    <?php endif; ?>
                                    <a class="dropdown-item" href="{{LINK logout}}">
                                        <span>{{TR Logout}}</span>
                                    </a>
                                </div>
                            </li>
                            <li class="nav-item user-basket">
                                <a class="nav-link" href="{{LINK checkout}}">
                                    <?php echo hs_svg('cart'); ?>
                                    <span class="total-items">{{ME basket}}</span>
                                </a>
                            </li>
                            <li class="nav-item user-language-dd">
                                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                                    <?php echo hs_svg('globe'); ?>
                                </a>
                                <div class="dropdown-menu">
                                    <?php if (not_empty($hs['lang_array'])): ?>
                                        <?php foreach ($hs['lang_array'] as $lang_data): ?>
                                            <?php if ($hs['me']['language'] == $lang_data['lang_name']): ?>
                                                <a class="dropdown-item" href="javascript:void(0);">
                                                    <span class="selected"><?php echo hs_translate(ucfirst($lang_data['lang_name'])); ?></span>
                                                    <span class="lang-banner ml-auto">
                                                        <?php echo hs_banner($lang_data['a2_code']); ?>
                                                    </span>
                                                </a>
                                            <?php else: ?>
                                                <a class="dropdown-item" href="<?php echo hs_link(sprintf('language/%s',$lang_data['lang_name'])); ?>">
                                                    <span><?php echo hs_translate(ucfirst($lang_data['lang_name'])); ?></span>
                                                    <span class="lang-banner ml-auto">
                                                        <?php echo hs_banner($lang_data['a2_code']); ?>
                                                    </span>
                                                </a>
                                            <?php endif; ?>
                                        <?php endforeach; ?>
                                    <?php endif; ?>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar-flex-inner-bottom-line">
        <div class="navbar-flex-inner">
            <div class="header-bottom-line-wrapper">
                <nav class="navbar navbar-expand-lg navbar-light bg-light nav-bar-bottom-line"> 
                    <ul class="navbar-nav">     
                        <li class="nav-item categories">
                            <a class="nav-link dropdown-toggle" href="#" id="cat-dd-menu" data-toggle="dropdown">
                                <?php echo hs_svg('grid'); ?>
                                <span class="all--catgs">{{TR All categories}}</span>
                                <span class="arrow-down">
                                    <?php echo hs_svg('arrow-down'); ?>
                                </span>
                            </a>
                            <div class="dropdown-menu rs-dropdmenu" aria-labelledby="cat-dd-menu">
                                <?php foreach ($hs['categories'] as $id => $name): ?>
                                    <a class="dropdown-item" href='<?php echo hs_link("catalog/$id"); ?>'>
                                        <?php echo hs_translate($name); ?>
                                    </a>
                                <?php endforeach; ?>
                            </div>
                        </li>
                        <?php if (not_empty($hs['featured_catgs'])): ?>
                            <?php foreach ($hs['featured_catgs'] as $id => $name): ?>
                                <li class="nav-item">
                                    <a class="nav-link" href='<?php echo hs_link("catalog/$id"); ?>'>
                                        <span>
                                            <?php echo hs_translate($name); ?>
                                        </span>
                                    </a>
                                </li>
                            <?php endforeach; ?>
                        <?php endif; ?>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<?php echo hs_loadpage('commonjs/search/script_master'); ?>
<?php echo hs_loadpage('commonjs/notifications/script_master'); ?>
<?php echo hs_loadpage('commonjs/messages/script_master'); ?>