<script>
    jQuery(document).ready(function($) {
        "use strict";

        var SITE_LANGS_PAGE  = $("div#site-languages-page");
        var CHANGE_LSO_MODAL = $("div#change-lang-sortorder-modal");
        var ADD_LANG_MODAL   = $("div#addnew-language-modal");
        var DEL_LANG_MODAL   = $("div#delete-language-modal");
        var EDIT_LOCATIONS   = $("div#change-location-modal");

        $(document).on('click', '[data-onclick]', function(event) {
            event.preventDefault();
            var this_el    = $(this);
            var event_trig = this_el.data('onclick');

            if (event_trig == 'change_language_sortorder') {
                var sin = this_el.data('sin');
                var lid = this_el.data('id');
                CHANGE_LSO_MODAL.find('input[name="sort_order"]').val(sin);
                CHANGE_LSO_MODAL.find('input[name="lang_id"]').val(lid);
                CHANGE_LSO_MODAL.modal('show');
            }

            else if (event_trig == 'delete_language') {
                var lang_name = this_el.data('lang');
                DEL_LANG_MODAL.find('input[name="locations_id"]').val(lang_name);
                DEL_LANG_MODAL.modal('show');
            }  else if (event_trig == 'edit_locations') {
                var country = this_el.data('countryname');
                var city = this_el.data('cityname');
                var surburb = this_el.data('surburb');
                var location_id = this_el.data('location_id');

                EDIT_LOCATIONS.find('input[name="city_name"]').val(city);
                EDIT_LOCATIONS.find('input[name="surburb"]').val(surburb);
                EDIT_LOCATIONS.find('input[name="alpha2_code"]').val(country);
                EDIT_LOCATIONS.find('input[name="location_id"]').val(location_id);
                EDIT_LOCATIONS.modal('show');
            }
        });

        $(document).on('change', '[data-onchange]', function(event) {
            event.preventDefault();
            var this_el    = $(this);
            var event_trig = this_el.data('onchange');

            if (event_trig == 'toggle_lang_status') {
                var status    = (this_el.is(":checked") == true) ? 'on' : 'off';
                var lang_name = this_el.data('lang');
                $.ajax({
                    url: '{{CONFIG url}}/req/admin/toggle_lang_status',
                    type: 'POST',
                    dataType: 'json',
                    data: {lang: lang_name,status: status},
                }).done(function(data) {
                    if (data.message) {
                        $.notify({
                            message: data.message,
                        },{
                            allow_dismiss: false,icon_type: "class",type: 'default',timer: 500,
                            placement: {from: "bottom",align: "left"},
                            offset: {x: 40,y: 30},
                            animate: {enter: 'animated fadeInUp',exit: 'animated fadeOutDown'}
                        });
                    }

                    if (data.action) {
                        delay(function(){
                            this_el.prop('checked', 'true');
                        },300);
                    }
                });
            }
        });

        EDIT_LOCATIONS.find('form#form').ajaxForm({
            url: '{{CONFIG url}}/req/admin/update_locations',
            type: 'POST',
            dataType: 'json',
            beforeSend: function() {
                EDIT_LOCATIONS.find('button').attr('disabled', 'true');
            },
            success: function(data) {
                if (data.status == 200) {
                    EDIT_LOCATIONS.modal('hide');
                    $.notify({
                        message: data.message,
                    },{
                        allow_dismiss: false,icon_type: "class",type: 'default',timer: 500,
                        placement: {from: "bottom",align: "left"},
                        offset: {x: 40,y: 30},
                        animate: {enter: 'animated fadeInUp',exit: 'animated fadeOutDown'}
                    }); $(window).reloadPage(1500);
                }
                else {
                    EDIT_LOCATIONS.find('button').removeAttr('disabled');
                    EDIT_LOCATIONS.modal('hide');
                    if (data.message) {
                        $.notify({
                            message: data.message,
                        },{
                            allow_dismiss: false,icon_type: "class",type: 'default',timer: 500,
                            placement: {from: "bottom",align: "left"},
                            offset: {x: 40,y: 30},
                            animate: {enter: 'animated fadeInUp',exit: 'animated fadeOutDown'}
                        });
                    }
                    else {
                        $.notify({
                            message: 'Error found while processing your request. Please try again later!',
                        },{
                            allow_dismiss: false,icon_type: "class",type: 'default',timer: 500,
                            placement: {from: "bottom",align: "left"},
                            offset: {x: 40,y: 30},
                            animate: {enter: 'animated fadeInUp',exit: 'animated fadeOutDown'}
                        });
                    }
                }
            },
            error: function() {
                EDIT_LOCATIONS.find('button').removeAttr('disabled');
                EDIT_LOCATIONS.modal('hide');
                $.notify({
                    message: 'Error found while processing your request. Please try again later!',
                },{
                    allow_dismiss: false,icon_type: "class",type: 'default',timer: 500,
                    placement: {from: "bottom",align: "left"},
                    offset: {x: 40,y: 30},
                    animate: {enter: 'animated fadeInUp',exit: 'animated fadeOutDown'}
                });
            }
        });

        CHANGE_LSO_MODAL.find('form#form').ajaxForm({
            url: '{{CONFIG url}}/req/admin/change_language_sortorder',
            type: 'POST',
            dataType: 'json',
            beforeSend: function() {
                CHANGE_LSO_MODAL.find('button').attr('disabled', 'true');
            },
            success: function(data) {   
                if (data.status == 200) {
                    CHANGE_LSO_MODAL.modal('hide');
                    $.notify({
                        message: data.message,
                    },{
                        allow_dismiss: false,icon_type: "class",type: 'default',timer: 500,
                        placement: {from: "bottom",align: "left"},
                        offset: {x: 40,y: 30},
                        animate: {enter: 'animated fadeInUp',exit: 'animated fadeOutDown'}
                    }); $(window).reloadPage(1500);
                }  
                else {
                    CHANGE_LSO_MODAL.find('button').removeAttr('disabled');
                    CHANGE_LSO_MODAL.modal('hide');
                    if (data.message) {
                        $.notify({
                            message: data.message,
                        },{
                            allow_dismiss: false,icon_type: "class",type: 'default',timer: 500,
                            placement: {from: "bottom",align: "left"},
                            offset: {x: 40,y: 30},
                            animate: {enter: 'animated fadeInUp',exit: 'animated fadeOutDown'}
                        });
                    }
                    else {
                        $.notify({
                            message: 'Error found while processing your request. Please try again later!',
                        },{
                            allow_dismiss: false,icon_type: "class",type: 'default',timer: 500,
                            placement: {from: "bottom",align: "left"},
                            offset: {x: 40,y: 30},
                            animate: {enter: 'animated fadeInUp',exit: 'animated fadeOutDown'}
                        });
                    }
                }
            },
            error: function() {
                CHANGE_LSO_MODAL.find('button').removeAttr('disabled');
                CHANGE_LSO_MODAL.modal('hide');
                $.notify({
                    message: 'Error found while processing your request. Please try again later!',
                },{
                    allow_dismiss: false,icon_type: "class",type: 'default',timer: 500,
                    placement: {from: "bottom",align: "left"},
                    offset: {x: 40,y: 30},
                    animate: {enter: 'animated fadeInUp',exit: 'animated fadeOutDown'}
                });
            }
        });

        ADD_LANG_MODAL.find('form#form').ajaxForm({
            url: '{{CONFIG url}}/req/admin/add_new_locations',
            type: 'POST',
            dataType: 'json',
            beforeSend: function() {
                ADD_LANG_MODAL.find('button').attr('disabled', 'true');
                ADD_LANG_MODAL.find('small.error-message').remove();
            },
            success: function(data) {   
                if (data.status == 200) {
                    ADD_LANG_MODAL.modal('hide');
                    $.notify({
                        message: data.message,
                    },{
                        allow_dismiss: false,icon_type: "class",type: 'default',timer: 500,
                        placement: {from: "bottom",align: "left"},
                        offset: {x: 40,y: 30},
                        animate: {enter: 'animated fadeInUp',exit: 'animated fadeOutDown'}
                    }); $(window).reloadPage(1500);
                }  
                else {
                    ADD_LANG_MODAL.find('button').removeAttr('disabled');
                    
                    if (data.message) {
                        if (ADD_LANG_MODAL.find('[data-form-field="{0}"]'.format(data.err_field)).length) {
                            ADD_LANG_MODAL.find('[data-form-field="{0}"]'.format(data.err_field)).append($("<small>",{
                                text: data.message,
                                class: 'col-red error-message animated flash'
                            }));
                        }
                        else {
                            ADD_LANG_MODAL.modal('hide');
                            $.notify({
                                message: data.message,
                            },{
                                allow_dismiss: false,icon_type: "class",type: 'default',timer: 500,
                                placement: {from: "bottom",align: "left"},
                                offset: {x: 40,y: 30},
                                animate: {enter: 'animated fadeInUp',exit: 'animated fadeOutDown'}
                            });
                        }
                    }
                    else {
                        ADD_LANG_MODAL.modal('hide');
                        $.notify({
                            message: 'Error found while processing your request. Please try again later!',
                        },{
                            allow_dismiss: false,icon_type: "class",type: 'default',timer: 500,
                            placement: {from: "bottom",align: "left"},
                            offset: {x: 40,y: 30},
                            animate: {enter: 'animated fadeInUp',exit: 'animated fadeOutDown'}
                        });
                    }
                }
            },
            error: function() {
                ADD_LANG_MODAL.find('button').removeAttr('disabled');
                ADD_LANG_MODAL.modal('hide');
                $.notify({
                    message: 'Error found while processing your request. Please try again later!',
                },{
                    allow_dismiss: false,icon_type: "class",type: 'default',timer: 500,
                    placement: {from: "bottom",align: "left"},
                    offset: {x: 40,y: 30},
                    animate: {enter: 'animated fadeInUp',exit: 'animated fadeOutDown'}
                });
            }
        });

        DEL_LANG_MODAL.find('form#form').ajaxForm({
            url: '{{CONFIG url}}/req/admin/delete_locations',
            type: 'POST',
            dataType: 'json',
            beforeSend: function() {
                DEL_LANG_MODAL.find('button').attr('disabled', 'true');
            },
            success: function(data) {
                if (data.message) {
                    $.notify({
                        message: data.message,
                    },{
                        allow_dismiss: false,icon_type: "class",type: 'default',timer: 500,
                        placement: {from: "bottom",align: "left"},
                        offset: {x: 40,y: 30},
                        animate: {enter: 'animated fadeInUp',exit: 'animated fadeOutDown'}
                    });
                }

                if (data.status == 200) {
                    $(window).reloadPage(1500);
                }  
            },
            error: function() {
                DEL_LANG_MODAL.find('button').removeAttr('disabled');
                DEL_LANG_MODAL.modal('hide');
                $.notify({
                    message: 'Error found while processing your request. Please try again later!',
                },{
                    allow_dismiss: false,icon_type: "class",type: 'default',timer: 500,
                    placement: {from: "bottom",align: "left"},
                    offset: {x: 40,y: 30},
                    animate: {enter: 'animated fadeInUp',exit: 'animated fadeOutDown'}
                });
            },
            complete: function() {
                DEL_LANG_MODAL.find('button').removeAttr('disabled');
                DEL_LANG_MODAL.modal('hide');
            }
        });
    });
</script>
