<div class="clearfix" id="customers-orders-page">
    <div class="block-header">
        <nav class="breadcrumbs-cust" aria-label="breadcrumb breadcrumb-cust">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{LINK merchant_panel}}">{{TR Control panel}}</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{{ME url}}">
                        {{ME name}}
                    </a>
                </li>
                <li class="breadcrumb-item active">
                    {{TR Customers orders}}
                </li>
            </ol>
        </nav>
    </div>
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card ajax-ctrl-table">
                <div class="header">
                    <h2>{{TR Export Customer Orders}}</h2>
                </div>
                <div class="body">
                    <div class="data-management-area">
                        <div class="form-group form-field-box">
                            <div class="row clearfix">
                                <form data-prod-id="{{prod_id}}" class="clearfix form-horizontal product-upsert-form" id="customer-order-export">
                                    <input type="hidden" class="hidden d-none" name="hash" value="<?php echo fetch_or_get($hs['csrf_token'],'none') ?>">


                                    <div class="col-sm-3" data-form-field="3">
                                    <label class="form-label">
                                        {{TR Start Date}}
                                    </label>
                                    <div class="filed-box" style="border: 1px solid #72777c;">
                                        <input name="name" type="date" class="form-control" placeholder="{{TR  6/11/2020}}">
                                    </div>
                                   </div>
                                <div class="col-sm-3" data-form-field="3">
                                    <label class="form-label">
                                        {{TR End Date}}
                                    </label>
                                    <div class="filed-box" style="border: 1px solid #72777c;">
                                        <input name="name" type="date" class="form-control" placeholder="{{TR  6/11/2020}}">
                                    </div>
                                </div>
                                <div class="col-sm-3" data-form-field="3" style="margin-top: 21px;text-align: center">
                                    <button title="{{TR Add Product Option}}" id="add-prodvar-btn" type="button" class="btn bg-blue btn-custom btn-lg">
                                        <i class="material-icons">playlist_add</i> <span>{{TR Export Csv}}</span>
                                    </button>
                                </div>
                                <div class="col-sm-3" data-form-field="3" style="margin-top: 21px;">
                                    <button title="{{TR Add Product Option}}" id="add-prodvar-btn" type="button" class="btn bg-blue btn-custom btn-lg">
                                        <i class="material-icons">playlist_add</i> <span>{{TR Export Pdf}}</span>
                                    </button>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card ajax-ctrl-table">
                <div class="header">
                    <h2 class="card-inside-title">
                        {{TR List of all customer orders}}
                    </h2>
                    <div class="rows-filter">
                        <input type="text" placeholder="{{TR Search for orders by customer name}}" id="search-orders">
                        <i class="material-icons search">search</i>
                        <i class="material-icons clear hidden" id="clear-searching-terms">clear</i>
                    </div>
                </div>
                <div class="body table-responsive">
                    <table class="table no-mb" id="orders-list">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>{{TR Customer name}}</th>
                                <th>{{TR Product}}</th>
                                <th>{{TR Total amount}}</th>
                                <th>{{TR Quantity}}</th>
                                <th>{{TR Placed}}</th>
                                <th>{{TR Status}}</th>
                                <th>{{TR Actions}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php if (not_empty($hs['orders_list'])): ?>
                                <?php foreach ($hs['orders_list'] as $hs['ord_item']): ?>
                                    <?php echo hs_loadpage('customer_orders/includes/order_list'); ?>
                                <?php endforeach; ?>
                            <?php else: ?>
                                <?php echo hs_loadpage('customer_orders/includes/empty_table'); ?>
                            <?php endif; ?>
                        </tbody>
                    </table>
                    <?php if (not_empty($hs['orders_list'])): ?>
                        <div class="data-preloader-wrapper hidden" id="table-preloader">
                            <?php echo hs_loadpage('components/data_preloader'); ?>
                        </div>
                        <a href="javascript:void(0);" class="pagination-ctrls prev">
                                <i class="material-icons">chevron_left</i>
                        </a>
                        <a href="javascript:void(0);" class="pagination-ctrls next">
                            <i class="material-icons">chevron_right</i>
                        </a>
                    <?php endif; ?> 
                </div>
            </div>
        </div>
    </div>
</div>
<?php echo hs_loadpage('customer_orders/static/js/custord_master_script'); ?>