<div class="clearfix" id="site-languages-page">
    <div class="block-header">
        <nav class="breadcrumbs-cust" aria-label="breadcrumb breadcrumb-cust">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{LINK merchant_panel}}">{{TR Control panel}}</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{{LINK merchant_panel/my_products}}">
                        {{TR Trading items}}
                    </a>
                </li>
                <li class="breadcrumb-item active">
                    {{TR Manage Locations}}
                </li>
            </ol>
        </nav>
    </div>
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>{{TR Manage Locations}}</h2>
                </div>
                <div class="body table-responsive">
                    <table class="table common-table table-striped" id="languages-list">
                        <thead>
                            <tr>
                                <th>{{TR Id}}</th>
                                <th>
                                    {{TR Flag Icon}}
                                </th>
                                <th>
                                    {{TR Country Name}}
                                </th> 
                                <th>
                                    {{TR City or town}}
                                </th>
                                <th>
                                    {{TR Surburb}}
                                </th>
                                <th>
                                    {{TR Vendors}}
                                </th>
                                <th>
                                    {{TR Delivery}}
                                </th>
                                <th>
                                    {{TR Action}}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        <?php if (not_empty($hs['all_locations'])): ?>
                            <?php foreach ($hs['all_locations'] as $hs['lang_data']): ?>
                                <?php echo hs_loadpage('site_locations/includes/locations_li'); ?>
                            <?php endforeach; ?>
                        <?php else: ?>
                            <?php echo hs_loadpage('site_locations/includes/empty_table'); ?>
                        <?php endif; ?>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<button title="{{TR Add new Locations}}" type="button" class="fixed-right-bottom btn bg-main-red btn-circle waves-effect waves-circle waves-float" data-toggle="modal" data-target="#addnew-language-modal">
    <i class="material-icons">add</i>
</button>
<?php echo hs_loadpage('site_locations/static/js/site_locations_script'); ?>
<?php echo hs_loadpage('site_locations/modals/change_locations_sortorder'); ?>
<?php echo hs_loadpage('site_locations/modals/add_new_locations'); ?>
<?php echo hs_loadpage('site_locations/modals/delete_locations'); ?>
<?php echo hs_loadpage('site_locations/modals/edit_locations'); ?>