<script>
    jQuery(document).ready(function($) {
        "use strict";
        var CUST_ORDS_PAGE = $("div#customers-orders-page");
        var EXPORT_FORM   = $("form#customer-order-export");
        var EXPORT_BTN  = $("button#add-csv-btn");

        CUST_ORDS_PAGE.find('i#clear-searching-terms').on('click',function(event) {
            $(this).addClass('hidden');
            CUST_ORDS_PAGE.find('input#search-orders').trigger('keyup').val('');
        });

        CUST_ORDS_PAGE.find('input#search-orders').keyup(function(event) {
            delay(function(){
                var orders_list = CUST_ORDS_PAGE.find('table#orders-list');
                var preloader   = CUST_ORDS_PAGE.find('div#table-preloader');
                var keyword_val = CUST_ORDS_PAGE.find('input#search-orders').val();
                var keyword     = ((keyword_val.length >= 1) ? keyword_val : 0);

                if (keyword && orders_list.find('tr.empty-table.no-data').length == 0) {
                    CUST_ORDS_PAGE.find('i#clear-searching-terms').removeClass('hidden');
                    preloader.removeClass('hidden');
                    $.ajax({
                        url: '{{CONFIG url}}/req/profile/search_customers_orders',
                        type: 'GET',
                        dataType: 'json',
                        data: {keyword: keyword}
                    }).done(function(data) {
                        if (data.status == 200) {
                            orders_list.find('tbody').html(data.html);
                        }
                        else {
                            CUST_ORDS_PAGE.find('a.pagination-ctrls').addClass('hidden');
                            orders_list.find('tbody').html(data.html);
                        }
                    }).fail(function() {
                        $.notify({
                            message: 'Error: Failed to connect to the server. Please check your internet connection',
                        },{
                            allow_dismiss: false,icon_type: "class",type: 'default',timer: 500,
                            placement: {from: "bottom",align: "left"},
                            offset: {x: 40,y: 30},
                            animate: {enter: 'animated fadeInUp',exit: 'animated fadeOutDown'}
                        });
                    }).always(function() {
                        setTimeout(function(){
                            preloader.addClass('hidden');
                        },500);
                    });
                }

                else {
                    if (hs_empty(keyword_val)) {
                        CUST_ORDS_PAGE.find('i#clear-searching-terms').addClass('hidden');
                        CUST_ORDS_PAGE.find('a.pagination-ctrls').removeClass('hidden');
                    }

                    if (window.orders_table_rows) {
                        orders_list.html(window.orders_table_rows);
                    }
                } 
            },1000);
        });

        if (CUST_ORDS_PAGE.find('table#orders-list').find('tr[data-order-li]').length) {
            if (CUST_ORDS_PAGE.find('table#orders-list').find('tr.empty-table.no-data').length == 0) {
                window.orders_table_rows = CUST_ORDS_PAGE.find('table#orders-list').html();
            }
        }

        CUST_ORDS_PAGE.find('a.pagination-ctrls').on('click',function(event) {
            event.preventDefault();
            event.stopPropagation();
            if ($(this).hasClass('disabled') != true) { 
                var pager_ctrls = CUST_ORDS_PAGE.find('a.pagination-ctrls');
                var this_ctrl   = $(this);
                var orders_list = CUST_ORDS_PAGE.find('table#orders-list');
                var pager_dir   = (($(this).hasClass('prev')) ? 'up' : 'down');
                var last_req    = orders_list.find('tr[data-order-li]').last().data('order-li');
                var first_req   = orders_list.find('tr[data-order-li]').first().data('order-li');
                var preloader   = CUST_ORDS_PAGE.find('div#table-preloader').removeClass('hidden');
                var keyword     = CUST_ORDS_PAGE.find('input#search-orders').val();
                var keyword     = ((keyword.length >= 1) ? keyword : 0);
                var pager_ctrls = pager_ctrls.removeClass('disabled');

                $.ajax({
                    url: '{{CONFIG url}}/req/profile/get_customers_orders',
                    type: 'GET',
                    dataType: 'json',
                    data: {
                        dir: pager_dir, 
                        last: last_req, 
                        first: first_req,
                        keyword: keyword,
                    },
                }).done(function(data) {
                    if (data.status == 200) {
                        orders_list.find('tbody').html(data.html);
                    }
                    else{
                        this_ctrl.addClass('disabled');
                    }
                }).fail(function() {
                    $.notify({
                        message: 'Error: Failed to connect to the server. Please check your internet connection',
                    },{
                        allow_dismiss: false,icon_type: "class",type: 'default',timer: 500,
                        placement: {from: "bottom",align: "left"},
                        offset: {x: 40,y: 30},
                        animate: {enter: 'animated fadeInUp',exit: 'animated fadeOutDown'}
                    });
                }).always(function() {
                    delay(function(){
                        preloader.addClass('hidden');
                    },500);
                });
            }
            else {
                return false;
            }
        });

        EXPORT_BTN.on('click', function(event) {
            event.preventDefault();
           var startdata=$('input#end_date').val();
           alert(startdata);
        });


        EXPORT_FORM.find('form#form').ajaxForm({
            url: '{{CONFIG url}}/req/profile/export_customer_order_csv',
            type: 'POST',
            dataType: 'json',
            beforeSend: function() {
                EXPORT_FORM.find('button').attr('disabled', 'true');
            },
            success: function(data) {
                if (data.message) {
                    $.notify({
                        message: data.message,
                    },{
                        allow_dismiss: false,icon_type: "class",type: 'default',timer: 500,
                        placement: {from: "bottom",align: "left"},
                        offset: {x: 40,y: 30},
                        animate: {enter: 'animated fadeInUp',exit: 'animated fadeOutDown'}
                    });
                }

                if (data.status == 200) {
                    $(window).reloadPage(1500);
                }
            },
            error: function() {
                EXPORT_FORM.find('button').removeAttr('disabled');
                EXPORT_FORM.modal('hide');
                $.notify({
                    message: 'Error found while processing your request. Please try again later!',
                },{
                    allow_dismiss: false,icon_type: "class",type: 'default',timer: 500,
                    placement: {from: "bottom",align: "left"},
                    offset: {x: 40,y: 30},
                    animate: {enter: 'animated fadeInUp',exit: 'animated fadeOutDown'}
                });
            },
            complete: function() {
                EXPORT_FORM.find('button').removeAttr('disabled');
                EXPORT_FORM.modal('hide');
            }
        });

    });
</script>
