<div class="home-page-content-wrapper" id="home-page-content">
    <div class="content-container">
	<nav class="breadcrumbs-cust" aria-label="breadcrumb breadcrumb-cust">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="{{CONFIG url}}">{{TR Home}}</a>
			</li>
			<li class="breadcrumb-item">
				{{TR Popular products}}
			</li>
		</ol>
	</nav>
    <div class="row">
        <div class="cont-section-1 col-lg-3 no-padding-right" style="padding-left: 24px;">
            <div class="left-part clearfix">
                <div class="cat-navbar-wrapper">
                    <div class="cat-navbar">
                        <ul>
                            <?php foreach ($hs['categories']  as $id => $catg_name): ?>
                                <li class="<?php echo c2val($hs['catg_id'],$id,'active'); ?>">
                                    <a href="<?php echo(hs_link(sprintf('catalog/%s',$id))); ?>">
                                        <?php echo hs_translate($catg_name); ?>
                                    </a>
                                </li>
                            <?php endforeach; ?>
                        </ul>
                    </div>
                </div>
                <div class="footer-sm d-md-none d-xs-none d-sm-none d-lg-block">
                    <?php echo hs_loadpage('footer/small'); ?>
                </div>
            </div>
        </div>
        <div class="cont-section-2 col-lg-9" style="padding-right: 30px;padding-left: 21px;">
            <div class="pords-sorting-panel">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="https://aboutme.imgix.net/background/users/s/a/b/sabkuchfresh_1427183609_11.jpg?q=80&dpr=1&auto=format&fit=crop&w=1200&h=630&crop=faces" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="https://previews.123rf.com/images/monticello/monticello1304/monticello130400033/18965158-grocery-products-including-vegetables-fruits-dairy-bread-and-drinks-isolated-on-white.jpg" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="https://content3.jdmagicbox.com/comp/goa/l1/0832px832.x832.190718111646.i9l1/catalogue/sabkuch-fresh-goa-0rdyxkiy8d.jpg" alt="Third slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <div class="container">
                    <div class="row">
                      <div class="col-md-12">
                          <div id="slider-footer-options">
                              <h2>Browse Fresh Produce From Local Farmers Near You</h2>
                              <p>our platform provide fresh produce updated every week,to give you variety whilist saving you time & money.Start shopping & support local farmers near you !</p>
                          </div>
                      </div>
                    </div>
                    <div class="clear"></div>

                    <div class="row icn-sections">
                        <div class="col-md-12" style="text-align: center">
                            <div class="col-md-3" style="display: inline-block">
                                <img style="margin: 0 auto;" class="d-block w-50" src="https://phpstack-406020-1319069.cloudwaysapps.com/upload/images/01.png" alt="First Icon">
                                <p>locate Farm Produce for sale near you</p>

                            </div>
                            <div class="col-md-3" style="display: inline-block">
                                <img  style="margin: 0 auto;" class="d-block w-50" src="https://phpstack-406020-1319069.cloudwaysapps.com/upload/images/02.png" alt="First Icon">
                                <p>Pay online at affortable prices</p>
                            </div>
                            <div class="col-md-3" style="display: inline-block">
                                <img style="margin: 0 auto;" class="d-block w-50" src="https://phpstack-406020-1319069.cloudwaysapps.com/upload/images/03.png" alt="First Icon">
                                <p>Get your orders delivared to you</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="landing-items-container home-page-items right-part" id="prods-items-container">
                <?php $count=1; foreach ($hs['categories']  as $id => $catg_name): ?>
                <div class="category-sections" data-cat-index="<?=$count?>">
                    <div class="col-md-3" style="padding: 0;">
                        <p><?=$catg_name?> : </p>
                    </div>
                    <div class="col-md-8 view-all" style="padding: 0;">
                        <a href="<?php echo(hs_link(sprintf('catalog/%s',$id))); ?>">
                           View All
                        </a>
                    </div>
                    <div class="clear"></div>
<!--                    <div class="col-md-5" style="display: inline">-->
<!--                        <div id="main-div---><?//=$count?><!--" class="clockdiv">-->
<!--                            <div>-->
<!--                                <span class="days input-days---><?//=$count?><!--"></span>-->
<!--                            </div>-->
<!--                            <div>-->
<!--                                <span class="hours input-hours---><?//=$count?><!--"></span>-->
<!--                            </div>-->
<!--                            <div>-->
<!--                                <span class="minutes input-minutes---><?//=$count?><!--"></span>-->
<!--                            </div>-->
<!--                            <div>-->
<!--                                <span class="seconds input-seconds---><?//=$count?><!--"></span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
                    <?php
                    $locationsId=!empty($_COOKIE['city_name'])?$_COOKIE['city_name']:'1';
                    $products_list          = hs_get_catalog_items(array('catg_id'=> $id,'locations_id'=>$locationsId,'limit' => 4));

                    $objectProduct          = ((not_empty($products_list)) ? hs_o2array($products_list) : array());
                    ?>
                    <?php foreach ($objectProduct as $hs['prod_item']): ?>
                        <?php echo hs_loadpage('home/includes/prod_item_landing'); ?>
                    <?php endforeach; ?>
                <?php $count++; endforeach; ?>

<!--                <?php /*if (not_empty($hs['prods'])): */?>
                    <?php /*foreach ($hs['prods'] as $hs['prod_item']): */?>
                        <?php /*echo hs_loadpage('home/includes/prod_item'); */?>
                    <?php /*endforeach; */?>
                --><?php /*endif; */?>

                <?php if (not_empty($hs['ghosts'])): ?>
                    <?php foreach ($hs['ghosts'] as $ghost): ?>
                        <?php echo hs_loadpage('home/includes/ghost_item'); ?>
                    <?php endforeach; ?>
                <?php endif; ?>
            </div>
            <div class="prods-grid-items-preloader hidden" id="prods-grid-items-preloader">
                <?php echo hs_loadpage('components/data_preloader'); ?>
            </div>

            <div class="blog-header-content">
                <h3>Inspiring Farm Storied</h3>
                <span></span>
            </div>
            <div id="carouselExampleIndicators" class="carousel-blog slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item container active">
                        <div class="row">
                          <div class="co-md-6 blog-leftside-sections" style="width: 50%">
                              <h3>How Mirlam Supports her family
                                  Through vegetables farming</h3>
                              <p>Following the sad passing of her husband,Miriam decided to venture into vegetable farming as means of suppooring her childeren.With a small loan dorm friends and family has mannaged to....</p>
                              <button type="button" class="btn btn-primary">View Blog</button>
                          </div>
                            <div class="co-md-6 blog-rightside-sections" style="width: 50%">
                               <img src="https://img.etimg.com/thumb/msid-65900138,width-1070,height-580,imgsize-120883,overlay-economictimes/photo.jpg">
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item container">
                        <div class="row">
                            <div class="co-md-6 blog-leftside-sections" style="width: 50%">
                                <h3>How Mirlam Supports her family
                                    Through vegetables farming</h3>
                                <p>Following the sad passing of her husband,Miriam decided to venture into vegetable farming as means of suppooring her childeren.With a small loan dorm friends and family has mannaged to....</p>
                                <button type="button" class="btn btn-primary">View Blog</button>
                            </div>
                            <div class="co-md-6 blog-rightside-sections" style="width: 50%">
                                <img src="https://static.euronews.com/articles/stories/04/60/93/36/602x338_cmsv2_f54cd6c1-32be-59df-bc27-99554bddd2de-4609336.jpg">
                            </div>
                        </div>
                    </div>

                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators1" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators1" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <div style="padding-bottom: 20px;">

            </div>

        </div>
    </div>

	<div class="clear"></div>

  </div>
</div>
<footer class="footer-fluid">
	<?php echo hs_loadpage('footer/fluid'); ?>	
</footer>
<?php echo hs_loadpage('home/static/js/home_page_script'); ?>	


