<div class="modal animated fadeIn vh-center change-locations-modal" id="change-location-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form class="form" id="form">
                <input type="hidden" class="hidden d-none" name="hash" value="<?php echo fetch_or_get($hs['csrf_token'],'none') ?>">
                <div class="modal-header">
                    <h4 class="modal-title">
                        {{TR Update Delivery Options}}
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="data-management-page">
                        <div class="notes">
                            <p class="info-message warning">
                                <i class="material-icons">av_timer</i>
                                {{TR Note! This may take up to 5 minutes. Please do not leave the page until the process is complete.}}
                            </p>
                        </div>

                        <input  name="logistics_id" type="hidden" class="form-control">

                        <div class="form-group form-field-box no-mb">
                            <label class="form-label">
                                {{TR Vehicle Type}}:
                            </label>
                            <div class="filed-box p-t-5" data-form-field="vehicle_type">
                                <input name="vehicle_type" type="text" class="form-control" placeholder="{{TR Enter a vehicle type}}">
                            </div>
                        </div>

                        <div class="form-group form-field-box no-mb">
                            <label class="form-label">
                                {{TR Maximum Load}}:
                            </label>
                            <div class="filed-box p-t-5" data-form-field="maximum_load">
                                <input name="maximum_load" type="text" class="form-control" placeholder="{{TR E.g. 5kg, 11lb, 176oz, 50g}}">
                            </div>
                        </div>

                        <div class="form-group form-field-box no-mb">
                            <label class="form-label">
                                {{TR Delivary Cost}}:
                            </label>
                            <div class="filed-box p-t-5" data-form-field="delivary_cost">
                                <input name="delivary_cost" type="text" class="form-control" placeholder="{{TR Only numeric value is allowed. E.g. 149.99 - $}}">
                            </div>
                        </div>


                        <div class="form-group form-field-box no-mb">
                            <label class="form-label">
                                {{TR Country}}:
                            </label>
                            <div class="filed-box p-t-5" data-form-field="alpha2_code">
                                <input readonly  name="alpha2_code" type="text" class="form-control" placeholder="{{TR Enter Country Name}}">

                            </div>
                        </div>

                        <div class="form-group form-field-box no-mb">
                            <label class="form-label">
                                {{TR Contact Number}}:
                            </label>
                            <div class="filed-box p-t-5" data-form-field="contact_number">
                                <input name="contact_number" type="number" class="form-control" placeholder="{{TR Contact Number}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn bg-grey waves-effect tt-up" data-dismiss="modal">{{TR Cancel}}</button>
                    <button type="submit" class="btn bg-light-blue waves-effect tt-up">{{TR Update logistics}}</button>
                </div>
            </form>
        </div>
    </div>
</div>