<tr class="empty-table no-data">
	<td colspan="9">
		<div>
			<h5>
				{{TR No delivery found.}}
			</h5>
			<p>
				{{TR To add a new delivery, open the page using the link in the menu "Add a new delivery"}}
			</p>
		</div>
	</td>
</tr>