<tr class="languages">
    <td>
        <b><?php echo $hs['lang_data']['sort_order']; ?></b>
    </td>
    <td class="banner">
        <div class="country-flag">
            <?php
            $shortCode='';
            if (in_array($hs['lang_data']['country_name'],array_values($hs['countries'])) != false) {
                $countryKey = array_search($hs['lang_data']['country_name'], $hs['countries']);
                $getShortCode=$hs['country_codes'][$countryKey];
                $shortCode=$getShortCode;
            }
            ?>
            <?php echo hs_banner($shortCode); ?>
        </div>
    </td>
    <td>
    	<span class="badge">
    		<?php echo strtoupper($hs['lang_data']['country_name']); ?>
    	</span>
    </td>
    <td>
    	<span class="">
    		<?php echo strtoupper($hs['lang_data']['city_name']); ?>
    	</span>
    </td>

    <td>
    	<span class="">
    		<?php echo strtoupper($hs['lang_data']['surburb']); ?>
    	</span>
    </td>
    <td>
        <span class="badge bg-blue">
            <?php echo $hs['lang_data']['usage']; ?>
        </span>
    </td>
    <td>
        <span class="badge bg-blue-grey">
            <?php echo $hs['lang_data']['maximum_load']; ?>
        </span>
    </td>
    <td>
        <span class="badge bg-blue-grey">
            <?php echo $hs['lang_data']['delivary_cost']; ?>
        </span>
    </td>
    <td>
        <div class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons">more_horiz</i>
            </a>
            <ul class="dropdown-menu pull-right bs-dropdown-menu">

                <li data-onclick="edit_locations"
                    data-logistics_id="<?php echo($hs['lang_data']['id']); ?>"
                    data-countryname="<?php echo($hs['lang_data']['country_name']); ?>"
                    data-delivary_cost="<?php echo($hs['lang_data']['delivary_cost']); ?>"
                    data-contact_number="<?php echo($hs['lang_data']['contact_number']); ?>"
                    data-maximum_load="<?php echo($hs['lang_data']['maximum_load']); ?>"
                    data-vehicle_type="<?php echo($hs['lang_data']['vehicle_type']); ?>"
                >
                    <a href="javascript:void(0);" class="waves-effect waves-block">
                        {{TR Edit}}
                    </a>
                </li>

                <li data-onclick="delete_language" data-lang="<?php echo($hs['lang_data']['id']); ?>">
                    <a href="javascript:void(0);" class="waves-effect waves-block">
                        {{TR Delete}}
                    </a>
                </li>
                <li data-onclick="change_language_sortorder" data-id="<?php echo($hs['lang_data']['id']); ?>" data-sin="<?php echo($hs['lang_data']['sort_order']); ?>">
                    <a href="javascript:void(0);" class="waves-effect waves-block">
                        {{TR Change sort order}}
                    </a>
                </li>
            </ul>
        </div>
    </td>

</tr>