div.modal.edit-userdata-modal div.form-fieldset-title.group-set {
  border-radius: 5px;
  padding: 20px;
  border: 1px solid #eee;
  margin-bottom: 20px; }
  div.modal.edit-userdata-modal div.form-fieldset-title.group-set div.group-set-title {
    width: 100%;
    overflow: hidden;
    cursor: pointer; }
    div.modal.edit-userdata-modal div.form-fieldset-title.group-set div.group-set-title p {
      padding: 0;
      margin: 0; }
      div.modal.edit-userdata-modal div.form-fieldset-title.group-set div.group-set-title p:before {
        font-weight: normal;
        font-style: normal;
        content: '\e315';
        font-family: 'Material Icons';
        position: relative;
        font-size: 21px;
        height: 20px;
        top: 5px;
        right: 0px; }
    div.modal.edit-userdata-modal div.form-fieldset-title.group-set div.group-set-title.open p:before {
      font-weight: normal;
      font-style: normal;
      content: '\e5cf' !important;
      font-family: 'Material Icons';
      position: relative;
      font-size: 21px;
      height: 20px;
      top: 5px;
      right: 0px; }
div.modal.edit-userdata-modal div.collapse-form {
  width: 100%;
  border-radius: 5px;
  border-top: 1px solid #eee;
  margin-top: 20px;
  display: none;
  padding-top: 20px; }
  div.modal.edit-userdata-modal div.collapse-form.no-mb {
    padding-bottom: 0px !important; }
  div.modal.edit-userdata-modal div.collapse-form div.form-group {
    width: 100%;
    margin-bottom: 20px !important; }
    div.modal.edit-userdata-modal div.collapse-form div.form-group label.form-label {
      padding-top: 0px !important;
      margin-bottom: 5px; }
    div.modal.edit-userdata-modal div.collapse-form div.form-group.no-mb {
      margin-bottom: 0px !important; }
    div.modal.edit-userdata-modal div.collapse-form div.form-group div.avatar-settings {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      border-bottom: 1px solid #eee;
      padding-bottom: 20px; }
      div.modal.edit-userdata-modal div.collapse-form div.form-group div.avatar-settings div.avatar {
        width: 50px;
        height: 50px;
        position: relative;
        min-width: 50px; }
        div.modal.edit-userdata-modal div.collapse-form div.form-group div.avatar-settings div.avatar img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 10em;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 10px 0px; }
        div.modal.edit-userdata-modal div.collapse-form div.form-group div.avatar-settings div.avatar button {
          position: absolute;
          top: -5px;
          right: -5px;
          width: 25px;
          height: 25px;
          border-radius: 10em;
          background: #3498DB;
          color: #fff;
          border: none;
          outline: 0;
          box-shadow: none;
          text-align: center; }
          div.modal.edit-userdata-modal div.collapse-form div.form-group div.avatar-settings div.avatar button i {
            font-size: 14px;
            line-height: 25px; }
      div.modal.edit-userdata-modal div.collapse-form div.form-group div.avatar-settings div.user-name-holder {
        padding-left: 20px;
        flex: 1; }
        div.modal.edit-userdata-modal div.collapse-form div.form-group div.avatar-settings div.user-name-holder h4 {
          width: 100%;
          font-size: 17px;
          color: #3e5569;
          line-height: 26px;
          padding: 0;
          margin: 0;
          font-weight: 500;
          font-style: normal; }
        div.modal.edit-userdata-modal div.collapse-form div.form-group div.avatar-settings div.user-name-holder p {
          font-size: 13px;
          font-weight: normal;
          font-style: normal;
          color: #3e5569;
          opacity: 0.9;
          padding: 0;
          margin: 0;
          line-height: 14px;
          text-transform: lowercase; }
          div.modal.edit-userdata-modal div.collapse-form div.form-group div.avatar-settings div.user-name-holder p a {
            text-decoration: none;
            font-size: inherit;
            color: inherit; }
            div.modal.edit-userdata-modal div.collapse-form div.form-group div.avatar-settings div.user-name-holder p a:hover, div.modal.edit-userdata-modal div.collapse-form div.form-group div.avatar-settings div.user-name-holder p a:active {
              text-decoration: none; }
  div.modal.edit-userdata-modal div.collapse-form.open {
    display: block !important; }
div.modal.edit-userdata-modal button.close-modal-window {
  width: 100%;
  text-align: center;
  text-transform: uppercase; }

/*# sourceMappingURL=store.siteusers.style.css.map */
