<tr class="empty-table no-data">
	<td colspan="9">
		<div>
			<h5>
				{{TR No locations found.}}
			</h5>
			<p>
				{{TR To add a new product, open the page using the link in the menu "Add a new product"}}
			</p>
		</div>
	</td>
</tr>