<div class="clearfix" id="site-languages-page">
    <div class="block-header">
        <nav class="breadcrumbs-cust" aria-label="breadcrumb breadcrumb-cust">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{LINK merchant_panel}}">{{TR Control panel}}</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{{LINK merchant_panel/my_products}}">
                        {{TR Trading items}}
                    </a>
                </li>
                <li class="breadcrumb-item active">
                    {{TR Manage Logistics}}
                </li>
            </ol>
        </nav>
    </div>
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>{{TR Manage Logistics}}</h2>
                </div>
                <div class="body table-responsive">
                    <table class="table common-table table-striped" id="languages-list">
                        <thead>
                            <tr>
                                <th>{{TR Id}}</th>
                                <th>
                                    {{TR Flag Icon}}
                                </th>
                                <th>
                                    {{TR Country Name}}
                                </th> 
                                <th>
                                    {{TR City or town}}
                                </th>
                                <th>
                                    {{TR Surburb}}
                                </th>
                                <th>
                                    {{TR Model}}
                                </th>
                                <th>
                                    {{TR Load}}
                                </th>
                                <th>
                                    {{TR Cost}}
                                </th>
                                <th>
                                    {{TR Action}}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        <?php if (not_empty($hs['all_logistics'])): ?>
                            <?php foreach ($hs['all_logistics'] as $hs['lang_data']): ?>
                                <?php echo hs_loadpage('site_logistics/includes/locations_li'); ?>
                            <?php endforeach; ?>
                        <?php else: ?>
                            <?php echo hs_loadpage('site_logistics/includes/empty_table'); ?>
                        <?php endif; ?>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<button title="{{TR Add new Locations}}" type="button" class="fixed-right-bottom btn bg-main-red btn-circle waves-effect waves-circle waves-float" data-toggle="modal" data-target="#addnew-language-modal">
    <i class="material-icons">add</i>
</button>
<?php echo hs_loadpage('site_logistics/static/js/site_logistics_script'); ?>
<?php echo hs_loadpage('site_logistics/modals/change_logistics_sortorder'); ?>
<?php echo hs_loadpage('site_logistics/modals/add_new_logistics'); ?>
<?php echo hs_loadpage('site_logistics/modals/delete_logistics'); ?>
<?php echo hs_loadpage('site_logistics/modals/edit_logistics'); ?>